<!DOCTYPE html>


<html>
	<head>
		<title>Rough Start</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
		<script language="javascript" type="text/javascript" src="/scripts/mainScripts.js"></script>
	</head>
	<body class="body">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:youllprobablysendmespam@gmail.com">email</a></li>
        		<li><a href="https://github.com/neeelt">github.com/neeelt</a></li>
			</ul>
		</footer>
	</body>
</html>
